*.pyc

# Projects' files except for demo project
projects/**

!projects/projectdemo/
projects/projectdemo/*
!projects/projectdemo/project.json

!projects/projectdemo/data/
projects/projectdemo/data/*
!projects/projectdemo/data/open_data

rendering/style_lines.xml
rendering/style_points.xml
